@use "../abstract/" as *;
@use "../base" as *;

.header {
  padding: 3rem 0;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &__wrapper {
    @include between;
  }
  &__logo {
    a > h4 {
      font-size: clamp(1.25rem, 5vw, 1.5rem);
      color: $clr--dark;
    }
  }
  &__nav {
    ul {
      display: flex;
      align-items: center;
      gap: 3rem;
      li a {
        font-weight: 600;
      }
    }
  }
}
